$font-size-base: 1rem;
$navbar-light-color: #bbbbbb;
$navbar-light-active-color: #fff;

@import '../node_modules/bootstrap/scss/bootstrap';

body {
  // &.holding {
    background-color: #666;

    // &::after {
    //   content: " ";
    //   position: absolute;
    //   top: 0; 
    //   left: 0;
    //   width: 100%; 
    //   height: 100%; 
    // }
    background-image: url(mixersmall.jpg);
    background-size: cover;
  
  
    @media only screen and (min-width: 720px) {
      background-image: url(mixer.jpg);
    }
  // }
}

.transmission {
  margin: auto;
  margin-top: 6rem;
  background-color: #666;
  width: 40%;
  height: 60vh;
  border-radius: 50%;
  display: grid;
  animation: ripple 6s linear infinite;
  opacity: 0.8;

  @media only screen and (min-width: 720px) {
    height: 40vh;
    margin-top: 9rem;
  }
}

.transmission::before,
.transmission::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 2s;
}

.transmission::after {
  animation-delay: 4s;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 16rem rgba(255, 255, 255, 0);
  }
}

.title {
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

  h2 {
    background-image: url(https://media.giphy.com/media/3HG8cKDPyl9QoG2KvW/giphy.gif);
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 4rem;
  }
}

header {
  height: 6rem;
  line-height: 6rem;
  position: relative;
  z-index: 100;
  background-color: rgba(51, 51, 51, 0.8);

  @media only screen and (min-width: 720px) {
    height: 9rem;
    line-height: 9rem;
  }
}

nav {
  z-index: 1000;
  background-color: rgba(153, 153, 153, 0.6);

  form {
    @media only screen and (min-width: 720px) {
      order: 2;
    }
  }
}

.logo {
  line-height: inherit;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #bbb;
  z-index:1000;
  padding: 0.5rem 1rem;
  opacity: 0.8;

  .copyright {
    color: inherit;
    font-size: 0.9rem;
    vertical-align: bottom;

    @media only screen and (min-width: 720px) {
      line-height: 0.4em;
    }
  }

  .list-group {
    line-height: 1em;

    .list-group-item {
      border: none;
      background-color: transparent;

      a {
        color: #999999;

        &:hover {
          color: #cccccc;
        }
      }
    }
  }
}
