$font-size-base: 1.8rem;

@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: #666;
  animation: load 2s linear;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::after {
  content: " ";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  background-image: url(mixer.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.transmission {
  margin: auto;
  margin-top: 10rem;
  background-color: #666;
  width: 40%;
  height: 40vh;
  border-radius: 50%;
  display: grid;
  animation: ripple 6s linear infinite;
}

.transmission::before,
.transmission::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 2s;
}

.transmission::after {
  animation-delay: 4s;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 16rem rgba(255, 255, 255, 0);
  }
}

.title {
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 2;
  position: absolute;
  top: 2em;
  width: 100%;

  h2 {
    background-image: url(https://media.giphy.com/media/3HG8cKDPyl9QoG2KvW/giphy.gif);
    background-size: contain;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
  }
}

header {
  height: 12rem;
  line-height: 12rem;
  position: relative;
  z-index: 100;
  background-color: #333;
  opacity: 0.8;
}

.logo {
  line-height: inherit;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  z-index:1000;
  color: #bbbbbb;
  padding: 0 1em 0.5em;

  .copyright {
    line-height: 1em;
    color: inherit;
    font-size: 0.9rem;
  }

  .list-group {
    line-height: 1em;

    .list-group-item {
      border: none;
      background-color: transparent;

      a {
        color: #999999;

        &:hover {
          color: #cccccc;
        }
      }
    }
  }
}
